.content-card {
  width: 50%;
  padding: 8px 32px;
  margin-top: 40px;
}

section {
  width: 100%;
  min-height: 400px;
  padding: 0 0;
  background-color:aliceblue;
}

@media screen and (max-width: 768px) {

}