@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
}